 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center font-colour">
                    <h3>About</h3>                   
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12 font-colour text-center">
                    <p>Hi, my name is  Sheikh Lamia Hemayet Sristy, and I am a Software Engineer.</p>                    
                    <p> I am an IT professional who has developed skills in remote pair-programming using GitHub,industry-standard git-flow, and daily standups to communicate and collaborate with international remote developers. </p></li>
                    <p> Front-End skills: HTML5, CSS3, Bootstrap, Sass, JavaScript, jQuery.</p></li>
                    <p>  Back-End skills: Ruby, Rails, C#, Asp .Net MVC, SQL Server.</p></li>
                    <p> Tools & Methods: Git, GitHub, Responsive Development, RSpec, TDD, Chrome Dev Tools.</p></li>
                    <p> Professional: Teamwork, Remote Pair-Programming, Mentoring.</p></li>                
                </div>
                            
            </div>
        </div>
    </section>
