<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive img-rounded" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name font-colour">{{ site.title }}</span>  
         
          <span class="skills font-colour">{{ site.skills }}</span>

          <span>
            <ul class="list-inline">
              {% for network in site.social %}
              <li>
                  <a href="{{ network.url }}" target="_blank" class="btn-social-black btn-outline-black"><i class="fa fa-fw fab fa-{{ network.title }}"></i></a>
              </li>
          {% endfor %}
          </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
